body {
  font-family: "Arial", sans-serif;
  background-color: #fff5f5;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a41e35; /* TUJ red */
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #a41e35;
  color: white;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero .search input {
  padding: 10px;
  width: 60%;
  max-width: 400px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.hero .search button {
  padding: 10px 20px;
  border: none;
  background-color: #b71c1c;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.hero .search button:hover {
  background-color: #880e4f;
}
